td  {
    font-size: 11px;
    color: #333;
}

.loading-div {

    display: none;
}

.loading-div img {
    margin-top: 20%;
    margin-left: 50%;
}


.wrapper_img {
    width: 100%;
    height: 250px;
    background-size: cover;
    overflow: hidden;
    text-align: left;
}
.img1 {
    background-size: cover;
    width: auto;
    height: 100%;
}
